<!DOCTYPE html>
<html>
  <head>
    <title>Simple Message</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <h3>Who do you want to talk to?</h3>
    <form id="message-form">
      <input type="hidden", name="sender", id="sender">
      <input type="text" placeholder="???", name="recipient">
      <button type="submit">Send</button>
    </form>
    <script>

      $( document ).ready(function() {
        const token = Cookies.get('token')
        if (token == null) { window.location.replace('/'); }
      });

      $('#message-form').on('submit', function(e) {
        e.preventDefault()
        const messageForm = $(this)
        $('#sender').val(Cookies.get('token'))

        $.ajax({
          url: `/conversations`,
          type: 'POST',
          data: messageForm.serialize(),
          success: (res) => {
            window.location.replace(`conversations/${res.conversationId}/chat`);
          }
        });
      });
    </script>
  </body>
</html>
